:root {
    --dark-bg: #212121;
    --square-intro-dark: #525252;
    --color-titulos: #1a7eaf;
  --dark-gradient: linear-gradient(
    110deg,
    #171717 0.48%,
    rgba(54, 54, 54, 0.8) 98.57%
  );
}

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth; /* Desplazamiento suave */
}

body {
    background-color: var(--dark-bg);
    font-family: 'Poppins', sans-serif;
    color: white;
    transition: 0.3s ease all;
}

.contenedor {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

/* Nav y header */
.header {
    background: var(--dark-gradient);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.nav .logo img {
    width: auto;
    height: 80px;
}
.nav .logo:hover {
    transform: scale(0.9);
}
.nav-link-div {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-link-div a{
    text-decoration: none;
    color: white;
}
.nav-link-div a:hover {
    cursor: pointer;
    color: var(--color-titulos);
}

/* Presentacion */
.presentation-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 450px;
}
.presentation-div .greeting{
    font-size: 25px;
    margin-bottom: 20px;
}
.presentation-div .name {
    font-size: 45px;
    margin-bottom: 20px;
    color: var(--color-titulos);
}
.presentation-div .occupation {
    font-size: 15px;
    margin-bottom: 20px;
}
.presentation-img {
    display: flex;
    justify-content: center;
}
.presentation-img .box-img {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: var(--square-intro-dark);
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.25);
}
.presentation-img img {
    position: relative;
    height: 300px;
    width: 300px;
    filter: saturate(0) contrast(120%) brightness(75%);
    pointer-events: none;
}

/* Side card */
.side-card {
    background-color: var(--square-intro-dark);
    width: 300px;
    padding: 15px 40px;
    margin: 40px 0;
    font-size: 18px;
    text-align: end;
    position: relative;
}
.side-card::after {
    content: "";
    width: 15px;
    height: 50.8px;
    background-color: var(--color-titulos);
    position: absolute;
    right: 0;
    top: 0;
}


/* --------- About me --------- */
.about-me .contenido-about-me {
    font-size: 20px;
    width: 75%;
    text-align: center;
    line-height: 1.5;
    margin: 0 auto;
}
.about-me .about-me-media {
    margin: 30px 0;
    display: flex;
    justify-content: space-evenly;
}
.about-me-media a {
    color: white;
    font-size: 60px;
    transition: all 0.2s;
}
.about-me-media a:hover {
    color: var(--color-titulos);
}

/* Habilidades */
.contenido-habilidades h2 {
    margin-bottom: 10px;
}

.tarjetas-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 60%;
    margin: 0 auto;
}

.tarjeta-habilidad {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    color: black;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    flex: 1 0 100px; /* Flex-grow: 1, flex-shrink: 0, flex-basis: 100px */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

}

.tarjeta-habilidad:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/* --------- Portfolio --------- */
.contenido-portfolio {
    display: flex;
    align-items: center;
}

/* Estilos para el carrusel y las tarjetas */
.portfolio-carousel {
    scroll-behavior: smooth; /* Desplazamiento suave */
    width: 80%; /* Carrusel ocupa el 80% del contenedor */
    margin: 0 auto;
    padding: 20px 0; /* Espacio arriba y abajo del carrusel */
}
.slick-dots li button {
    background: grey !important;
    border-radius: 5px;
}
.portfolio-card {
    margin-right: 30px; /* Espacio entre tarjetas */
    border-radius: 20px; /* Bordes redondeados */
    background-color: var(--square-intro-dark); /* Color de fondo */
    background-size: cover; /* Ajustar el tamaño de la imagen */
    background-position: center; /* Centrar la imagen */
    transition: all 0.3s ease;
    filter: grayscale(100%);
    display: flex !important;
    justify-content: center;
    align-items:end;
    height: 300px !important;

}
.portfolio-card:hover {
    filter: grayscale(0);
}

.portfolio-card a {
    text-decoration: none;
    color: white;
    background-color: var(--color-titulos);
    padding: 10px 100px;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}
.portfolio-card a:hover {
    color: black;
    transform: scale(1.1);
}

.next, .prev {
    font-size: 40px; 
    cursor: pointer;
    transition: all 0.3s ease;
}
.next:hover, .prev:hover {
    color: var(--color-titulos);
    transform: scale(1.2);
}

.show-more {
    display: flex;
    justify-content: flex-end;
}

.show-more button {
    background-color: var(--color-titulos);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.show-more button:hover {
    background-color: white;
    color: var(--color-titulos);
}
/* ----------- Contacto ----------- */
.contact {
    display: flex;
    align-items: center;
}
.contenido-contact {
    max-width: 50%;
    min-width: 250px;
    margin-left: 40px;
    margin-right: 20px;
}

.contact-media a {
    color: grey;
    font-size: 30px;
    margin-right: 15px;
    transition: all 0.2s;
}
.contact-media a:hover {
    color: var(--color-titulos);
}

/* Formulario */
.form {
    width: 400px;
    background-color: var(--square-intro-dark);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}
.form-input {
    background-color: grey;
    border: none;
    padding: 7px;
    color: white;
    border-radius: 2px;
}
.form-input-message {
    height: 150px;
    resize: none;
}
.form-submit {
    background-color: var(--color-titulos);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.form-submit:hover {
    background-color: white;
    color: var(--color-titulos);
}

/* -------- Footer --------*/
.footer {
    background-color: var(--color-titulos);
    color: white;
    margin-top: 20px;
    padding: 80px 0;
}
.footer-style {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}
.logo-name p {
    font-size: 20px;
}
.logo-name img {
    width: 70px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    transition: all 0.1s;
}
.footer-nav a:hover {
    cursor: pointer;
    color: black;
}
.copyright {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  
